<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <context-param>
        <description>URL to database</description>
        <param-name>DBURL</param-name>
        <param-value>jdbc:mariadb://sistemasanitariodb.c16q8irjv9nd.us-east-2.rds.amazonaws.com/sistemasanitario</param-value>
    </context-param>
    <servlet>
        <servlet-name>Example</servlet-name>
        <servlet-class>sistemasanitario.servlets.Example</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PasswordTest</servlet-name>
        <servlet-class>sistemasanitario.servlets.PasswordTest</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Example</servlet-name>
        <url-pattern>/Example</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PasswordTest</servlet-name>
        <url-pattern>/PasswordTest</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>