<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <context-param>
        <description>URL to database</description>
        <param-name>DBURL</param-name>
        <param-value>jdbc:mariadb://sistemasanitariodb.c16q8irjv9nd.us-east-2.rds.amazonaws.com/sistemasanitario</param-value>
    </context-param>
    
    <servlet>
        <servlet-name>PasswordTest</servlet-name>
        <servlet-class>sistemasanitario.servlets.PasswordTest</servlet-class>
    </servlet>
  
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>sistemasanitario.servlets.LogoutServlet</servlet-class>
    </servlet>
   
    <servlet>
        <servlet-name>IndexPage</servlet-name>
        <jsp-file>/index.jsp</jsp-file>
    </servlet>
  
    <servlet>
        <servlet-name>MainPage</servlet-name>
        <jsp-file>/main.jsp</jsp-file>
    </servlet>
  
    <filter>
        <filter-name>TokenAuthFilter</filter-name>
        <filter-class>sistemasanitario.filters.TokenAuthFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>TokenAuthFilter</filter-name>
        <url-pattern>/myservices/*</url-pattern>
        <url-pattern>/login</url-pattern>
        <dispatcher>REQUEST</dispatcher>
    </filter-mapping>
    <filter>
        <filter-name>AuthenticationFilter</filter-name>
        <filter-class>sistemasanitario.filters.AuthenticationFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>AuthenticationFilter</filter-name>
        <url-pattern>/myservices/*</url-pattern>
        <dispatcher>REQUEST</dispatcher>
    </filter-mapping>
    <servlet>
        <servlet-name>ForgotPasswordServlet</servlet-name>
        <servlet-class>sistemasanitario.servlets.ForgotPasswordServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>MainPage</servlet-name>
        <url-pattern>/myservices/home</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>IndexPage</servlet-name>
        <url-pattern>/index</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/myservices/logout</url-pattern>
    </servlet-mapping>
     <servlet-mapping>
        <servlet-name>PasswordTest</servlet-name>
        <url-pattern>/passwordtest</url-pattern>
    </servlet-mapping>
   
   <error-page>
        <error-code>404</error-code>
        <location>/404.html</location>
    </error-page>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <listener>
        <description>ServletContextListener</description>
        <listener-class>sistemasanitario.listeners.WebAppContextListener</listener-class>
    </listener>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
