
h1{ 
    color: blue;
}

.it-search-wrapper.cloned{
    
    a{
        #hide-cloned{
            display: none !important;
        }
         width: auto !important;
    }
    margin-right: 50px;       
}